<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.sprinfgramework.org/schema/security">
<head>
    <title>Kysymys</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<table class="table table-striped">
    <tr>
        <th>Kysymys</th>
    </tr>

    <tr th:each = "kysymys : ${kysely}">
        <td th:text="${kysymys.data}"></td>
    </tr>
</table>

</body>
</html>